<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtfDYfx_jJA5Ex2UKQn82yuw6F0Oq1mbk</string>
	<key>GCM_SENDER_ID</key>
	<string>557237544811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkedinMobileUi</string>
	<key>PROJECT_ID</key>
	<string>linked-in-clone1-6b851</string>
	<key>STORAGE_BUCKET</key>
	<string>linked-in-clone1-6b851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557237544811:ios:b63f92da6a280a65d84e2e</string>
</dict>
</plist>